<h1>List of All Orders</h1>

<table class="table">
  <thead>
    <tr>
      <td>
        Order Date
      </td>
      <td>
        Product Name
      </td>
      <td>
        Product Unit Price
      </td>
      <td>
        Product Quantity
      </td>
      <td>
        Subtotal
      </td>
      <td>
        Tax
      </td>
      <td>
        Total
      </td>
      <td>
        Order Status
      </td>
      <td>
        Action
      </td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order["orderdate"] %>
        </td>
        <td>
          <%= order["productname"] %>
        </td>
        <td>
          <%= order["amount"] %>
        </td>
        <td>
          <%= order["productqty"] %>
        </td>
        <td>
          <%= order["amount"].to_f * order["productqty"].to_i %>
        </td>
        <td>
          <%= order["tax"] %>
        </td>
        <td>
          <%= order["totalprice"] %>
        </td>
        <td>
          <%= order["orderstatus"] %>
        </td>
        <td>
          <% if order["orderstatus"]!="Cancelled" %>
            <%= link_to "Cancel", orders_cancel_path(:orderID => order["orderID"]), :method => :patch %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 