<h1>List of My Orders</h1>

<table class="table">
  <thead>
    <tr>
      <td>
        Order Date
      </td>
      <td>
        Product Name
      </td>
      <td>
        Product Unit Price
      </td>
      <td>
        Product Quantity
      </td>
      <td>
        Subtotal
      </td>
      <td>
        Tax
      </td>
      <td>
        Total
      </td>
      <td>
        Order Status
      </td>
      <td>
        User
      </td>
      <% if current_user %>
        <td>
          Action
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if current_user %>
      <% @orders.each do |order| %>
        <% if current_user.role == 'customer' %>
          <% if order["username"] == current_user.username %>
            <tr>
              <td>
                <%= order["orderdate"] %>
              </td>
              <td>
                <%= order["productname"] %>
              </td>
              <td>
                <%= order["amount"] %>
              </td>
              <td>
                <%= order["productqty"] %>
              </td>
              <td>
                <%= order["amount"].to_f * order["productqty"].to_i %>
              </td>
              <td>
                <%= order["tax"] %>
              </td>
              <td>
                <%= order["totalprice"] %>
              </td>
              <td>
                <%= order["orderstatus"] %>
              </td>
              <td>
                <%= order["username"] %>
              </td>
              <td>
                <% if order["orderstatus"]!="Cancelled" %>
                  <%= link_to "Cancel", orders_cancel_path(:orderID => order["orderID"], :productname => order["productname"]), :method => :patch %>
                <% end %> 
              </td>
            </tr>
          <% end %>
        <% else %>
          <% if order["productname"].include?("Samsung") %>
            <tr>
              <td>
                <%= order["orderdate"] %>
              </td>
              <td>
                <%= order["productname"] %>
              </td>
              <td>
                <%= order["amount"] %>
              </td>
              <td>
                <%= order["productqty"] %>
              </td>
              <td>
                <%= order["amount"].to_f * order["productqty"].to_i %>
              </td>
              <td>
                <%= order["tax"] %>
              </td>
              <td>
                <%= order["totalprice"] %>
              </td>
              <td>
                <%= order["orderstatus"] %>
              </td>
              <td>
                <%= order["username"] %>
              </td>
              <td>
                <% if order["orderstatus"] == "Paid" %>
                  <%= link_to "Ship", orders_ship_path(:orderID => order["orderID"], :productname => order["productname"]), :method => :patch %>
                <% end %> 
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>

    <% end %>
  </tbody>
</table> 

<%= will_paginate @orders %>