<h1>List of All Products</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <%= form_tag(products_index_path, :method => "get", id: "search-form", :class => "input-group") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Products", :class => "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <td>
        Product Name
      </td>
      <td>
        Product Price
      </td>
      <td>
        Product Rating
      </td>
      <td>
        Buy
      </td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product["productname"], root_path %>
        </td>
        <td>
          <%= product["productprice"] %>
        </td>
        <td>
          5 Reviews
        </td>
        <td>
          <%= link_to "Buy", products_buy_path(:productname => product["productname"], :amount => product["productprice"]), :method => :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 