<% if current_user && current_user.role == 'partner' %>
  <h1>List of My Products</h1>
<% else %>
  <h1>List of All Products</h1>
<% end %>

<div class="row">
  <div class="col-lg-9">
    <div class="input-group">
      <%= form_tag(products_index_path, :method => "get", id: "search-form", :class => "input-group") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Products", :class => "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <% if current_user %>
  <% if current_user.role == 'partner' %>
   <%= link_to "Add Product", products_new_path, :class => 'btn btn-default pull-right' %>
  <% end %>
<% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <td>
        Product Name
      </td>
      <td>
        Product Price
      </td>
      <% if current_user && current_user.role == 'customer' %>
        <td>
          Buy
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <% if current_user && current_user.role == 'partner' && product["productownerID"] == 2%>
        <tr>
          <td>
            <%= link_to product["productname"], product_path(:id => product['productID'], :product_link => product['link'][1]['url']) %>
          </td>
          <td>
            <%= product["productprice"] %>
          </td>
          <% if current_user && current_user.role == 'customer' %>
            <td>
              <%= link_to "Buy", products_buy_path(:productname => product["productname"], :amount => product["productprice"]), :method => :post %>
            </td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= link_to product["productname"], product_path(:id => product['productID'], :product_link => product['link'][1]['url']) %>
          </td>
          <td>
            <%= product["productprice"] %>
          </td>
          <% if current_user && current_user.role == 'customer' %>
            <td>
              <%= link_to "Buy", products_buy_path(:productname => product["productname"], :amount => product["productprice"]), :method => :post %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>